Entry {
    layout: horizontal;
    background: $background;
    height: 3;
    margin: 1;
    padding: 1;
}

#entry_id {
    content-align: left middle;
    width:10
}

#entry_url {
    content-align: left middle;
}

#dialog {
    align: center bottom;
    grid-size: 2;
    grid-gutter: 1 2;
    margin: 1 2;
    height: 25%;
}

#question {
    column-span: 2;
}

.highlighted {
    background: $secondary-background;
}
